@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --yellow-nooto : #eddc67;
  --blue-nooto: #3b5998;
  --lightblue-nooto: #daf1ff;
  --violet-nooto: #ccbbff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.fixed{
  /*Con estas propiedades estoy fijando mi index, ya que no tiene scroll*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}
  

a{
  text-decoration: none;
  display: inline;
  
}

.container{
  padding: 2% 5%;
}

/*-----------------Header general*/

header{
  width: 100%;
  height: 170px;
  display: grid;
  grid-template-rows: 50px 120px;
}

header .header-icons-container{
  width: 100%;
  background-color:var(--blue-nooto);
  height: 50px;
  display: grid;
}

header .header-icons-container .icons{
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .header-icons-container .icons span{
  color: var(--lightblue-nooto);
}

header .header-icons-container .icons span::before{
  font-size: 30px;
}


header .header-main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 120px;  
}

/* Header con fondo negro */
header .header-main-alt{
  background-color:black;
}


header .header-logo-container{
  margin-left: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
}

header .header-logo-container img{
  width: 170px;
  margin-top: 5px;
}

header .header-profile-container{
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .header-profile-container a{
  color: var(--lightblue-nooto);
  border-bottom: 1px solid lightgreen;
  font-size: 18px;
  
}

/* End Header General */


/* Hero index*/
.hero{
  width: 100%;
  height: 100%;
  margin-top: -120px;
  padding-top: 120px;
  background-image: url('../assets/images/hero1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Main index */

main .main-title-container{
  padding: 15% 5% 0 5%;
}

main .main-title-container .main-title{
  width: 100%;
  margin: auto;
  font-size: 3em;
  color: white;
  text-align: center;
  letter-spacing: 5px;
}

main .main-link-container{
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

main .main-link-container .main-link{
  
  margin: auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: rgb(47, 171, 47);
  color: white;
  text-align: center;
}

/*-----------------Blog Principal*/


.main-blog{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows:  2fr;
  background-color: #e6e9ed;
  align-items: center;

}

.blogs-title{
  padding-bottom: 10px;
  font-size: 1.2em;
}

.main-blog-img{
  grid-column: 1;
}

.main-blog-img img{
  height: 100%;
  width: 100%;
  padding: 5px 0;
}

.main-blog-info{
  padding: 10%;
}

.main-blog-title{
  font-size: 2em;
}

.main-blog-description{
  padding: 30px 0;
}

.blog-button{
  background-color: var(--lightblue-nooto);
  border: 1px solid lightgreen;
  padding: 10px;
  color: black;
  font-weight: bold;


}

.blog-button:hover{
  background-color: lightgreen;
  transition: .5s;
}

/*------------ Otros Blogs*/
.last-blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px 2fr;
  gap: 20px;
  padding-bottom: 60px;

}

.last-blogs-image img{
  width: 100%;
}

.last-blogs-title {
  grid-column: 1 / -1;
  text-align: left;  
  font-size: 1.3em;
  border-bottom: 1px solid rgb(177, 177, 177);
}


.last-blogs-description{
  padding: 10px 0;
}

.blog-button-container{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

/*---------FOOTER*/

footer{
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 20px solid var(--blue-nooto);
}

footer p{
  color: white;
  
}